{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="jumbotron">
      <h1 class="display-4">De Personenteller</h1>
      <p class="lead">Een applicatie ontwikkelt voor Hanze.<br>
        De applicatie houdt bij hoeveel leerlingen er in een lokaal zitten<br>
        Big Brother's watching you ;) 
    </p>
    <div class="tenor-gif-embed" data-postid="16730883" data-share-method="host" data-width="100%" data-aspect-ratio="1.0618336886993602"><a href="https://tenor.com/view/hacker-pc-meme-matrix-codes-gif-16730883">Hacker Pc GIF</a> from <a href="https://tenor.com/search/hacker-gifs">Hacker GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
  </div>
  

{% endblock %}